// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home article {
	margin-right: auto;
	margin-left: auto;
}

.content-container {
	padding-top: $line-height * 1rem;
	padding-right: $line-height * 1.5rem;
	padding-bottom: $line-height * 1rem;
	padding-left: $line-height * 1.5rem;

	@include media('>=4col') {
		padding-top: $line-height * 1rem;
		padding-right: $line-height * 2rem;
		padding-bottom: $line-height * 1rem;
		padding-left: $line-height * 2rem;
		margin-left: $line-height * 1rem;
	}
	@include media('>=6col') {
		padding-top: $line-height * 1.5rem;
		padding-right: span(0.5)/ 1em * 1rem;
		padding-bottom: $line-height * 1.5rem;
		padding-left: span(0.5)/ 1em * 1rem;
	}
	@include media('>=8col') {
		padding-top: $line-height * 2rem;
		padding-right: span(0.8)/ 1em * 1rem;
		padding-bottom: $line-height * 2rem;
		margin-left: $line-height * 1rem;
	}
	@include media('>=10col') {
		padding-top: $line-height * 3rem;
		padding-right: span(1)/ 1em * 1rem;
		padding-bottom: $line-height * 3rem;
		margin-left: $line-height * 2rem;
	}
}

h1,
h2 {
	~ * {
		max-width: 30em;

		margin-left: 0;

		@include media('>=2col') {
			margin-left: $line-height * 0.5rem;
		}
		@include media('>=4col') {
			margin-left: $line-height * 1rem;
		}
		@include media('>=7col') {
			margin-left: $line-height * 2rem;
		}
	}

	&::after {
		display: block;

		width: span(1) / 1em * 1rem;
		height: 8px;    //sass-lint:disable-line property-units

		margin-top: $line-height * 0.5rem;
		margin-bottom: $line-height * 0.5rem;
		margin-left: 0;

		background-color: palette('yellow', 'base');

		content: '';

		@include media('>=2col') {
			margin-top: $line-height * 0.8rem;
			margin-bottom: $line-height * 0.8rem;
			margin-left: $line-height * 0.5rem;
		}
		@include media('>=4col') {
			margin-top: $line-height * 1rem;
			margin-bottom: $line-height * 1rem;
			margin-left: $line-height * 1rem;
		}
		@include media('>=7col') {
			margin-top: $line-height * 1rem;
			margin-bottom: $line-height * 1rem;
			margin-left: $line-height * 2rem;
		}
	}
}

h5 {
	margin-top: $line-height * -0.5rem;
	margin-left: $line-height * -1rem;

	@include media('>=2col') {
		margin-left: 0;
	}
	@include media('>=5col') {
		margin-left: $line-height * 1rem;
	}
}



/* home
---------------------------------------------------------------------------- */
.greeting {
	@include aspect-ratio (320 x 180);

	color: palette('white');

	background-image: image('girl--320w.jpg');
	background-position: center top;
	background-size: 100% auto;
	background-color: palette('brown', 'dark');

	@include media('>=480px') {
		@include aspect-ratio (480 x 279);

		background-image: image('girl--480w.jpg');
	}
	@include media('>=640px') {
		@include aspect-ratio (640 x 500);

		background-image: image('girl--640w.jpg');
	}
	@include media('>=768px') {
		@include aspect-ratio (768 x 465);

		background-image: image('girl--768w.jpg');
	}
	@include media('>=1024px') {
		@include aspect-ratio (1024 x 590);

		background-image: image('girl--1024w.jpg');
	}
	@include media('>=1280px') {
		@include aspect-ratio (1280 x 744);

		background-image: image('girl--1280w.jpg');
	}
	@include media('>=1600px') {
		@include aspect-ratio (1600 x 930);

		background-image: image('girl--1600w.jpg');
	}
	@include media('>=1900px') {
		@include aspect-ratio (1900 x 1104);

		background-image: image('girl--1900w.jpg');
	}
}


.greeting .content-container {
	margin-right: auto;
	margin-left: 0;

	@include media('<4col') {
		clear: left;

		padding-top: $line-height * 1rem;
		padding-bottom: $line-height * 1rem;
	}
	@include media('>=4col') {
		padding-top: span(1.2) / 1em * 1rem;
		padding-left: $line-height * 1.5rem;
		margin-right: auto;
	}
	@include media('>=5col') {
		padding-top: span(1.4) / 1em * 1rem;
		padding-left: $line-height * 2rem;
		margin-right: auto;
	}
	@include media('>=6col') {
		padding-top: span(1.5) / 1em * 1rem;
		padding-left: span(0.5)/ 1em * 1rem;
	}
	@include media('>=8col') {
		padding-top: span(1.9) / 1em * 1rem;
		padding-left: span(0.9)/ 1em * 1rem;
	}
	@include media('>=9col') {
		padding-top: span(2) / 1em * 1rem;
		padding-left: span(1)/ 1em * 1rem;
	}
}

.greeting h5 {
	max-width: 19em;
}


/* project
---------------------------------------------------------------------------- */
.project {
	@include aspect-ratio (959 x 850);

	color: palette('gray', 'base');

	background-image: image('project-trees--320w.jpg');
	background-position: center top;
	background-size: 100% auto;
	background-color: palette('white');

	@include media('>=480px') {
		background-image: image('project-trees--480w.jpg');
	}
	@include media('>=640px') {
		background-image: image('project-trees--640w.jpg');
	}
	@include media('>=768px') {
		background-image: image('project-trees--768w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('project-trees--1024w.jpg');
	}
	@include media('>=8col') {
		@include table-layout-wrapper;

		background-image: none;

		table-layout: fixed;

		&::before {
			@include table-layout-item;

			float: none;

			width: 50%;

			padding: 0;

			background-image: image('project-trees--768w.jpg');
			background-position: 50%;
			background-size: cover;
		}

		&::after {
			content: none;
		}
	}
}

.project .content-container {
	clear: left;

	margin-right: 0;
	margin-left: auto;

	background-color: palette('white');

	@include media('>=8col') {
		@include table-layout-item;

		clear: none;

		width: auto;
	}
}

.project h2 {
	max-width: 10em;
}

.project p {
	max-width: 48em;
}


[role='project'] a {
	@include image-replacement;

	display: block;

	width: 100%;
	height: 2em;

	margin-top: $line-height * 1em;

	background-position: center center;
}


.google__button a {
	@include image-replacement;

	display: block;

	min-height: 52px;

	background-image: image('googleplay.png');
}

/* solution
---------------------------------------------------------------------------- */
.solution {
	position: relative;

	color: palette('white');

	background-image: image('solution--320w.jpg');
	background-size: cover;
	background-color: palette('black');

	@include media('>=480px') {
		background-image: image('solution--480w.jpg');
	}
	@include media('>=768px') {
		background-image: image('solution--768w.jpg');
	}
	@include media('>=1024px') {
		background-image: image('solution--1024w.jpg');
	}

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: 1;

		background-color: palette('black', 'overlay');

		content: '';
	}
}

.solution .content-container {
	position: relative;

	z-index: 1;
}

.solution h2 {
	max-width: 11em;
}

/* video
---------------------------------------------------------------------------- */

.solution video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: auto;
	max-width: none;
	min-width: 100%;
	min-height: 100%;

	object-fit: cover;

	@include media('<8col') {
		display: none;
	}
}

/* about
---------------------------------------------------------------------------- */
.about {
	@include aspect-ratio (600 x 160);

	color: palette('gray', 'base');

	background-image: image('about-sagui-small.png');
	background-position: center $line-height * 1em;
	background-color: palette('yellow', 'base');

	@include media('>=6col') {
		@include aspect-ratio (892 x 190);

		background-image: image('about-sagui-medium.png');
		background-position: left top;
	}
	@include media('>=10col') {
		@include aspect-ratio (892 x 130);

		background-image: image('about-sagui-big.png');
		background-position: left top;
	}
}

.about h2 {
	&::after {
		background-color: palette('white');
	}
}

.about .content-container {
	clear: left;

	margin-right: 0;
	margin-left: auto;

	@include media('>=6col') {
		clear: none;

		max-width: 60%;
	}
	@include media('>=10col') {
		clear: none;

		max-width: 55%;
	}
	@include media('>=12col') {
		max-width: 60%;
	}
}

.about p {
	max-width: 30em;
}


/* contact
---------------------------------------------------------------------------- */
.contact {
	padding: 0;

	color: palette('gray', 'base');

	background-image: image('logo.png');
	background-color: palette('white');
}

.contact .content-container {
	padding-right: $line-height * 1rem;
	padding-left: $line-height * 1rem;
	margin-right: auto;
	margin-left: auto;

	@include media('>=6col') {
		max-width: span(6);

		padding-right: span(1)/ 1em * 1rem;
		padding-left: span(1)/ 1em * 1rem;
	}
}

.contact p {
	max-width: 50em;

	@include media('>=6col') {
		max-width: 38em;
	}
}
