// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
	padding: $line-height * 1em;

	text-transform: lowercase;

	color: palette('gray', 'light');

	background-color: palette('gray', 'x-light');
}


.footer-menu a {
	color: palette('gray', 'dark');
}


[role='contentinfo'] {
	width: 100%;
	max-width: span(10);

	margin: 0 auto;

	@include media('>=6col') {
		@include table-layout-wrapper {
			// table-layout: fixed;
		}
	}
}


[role='contentinfo'] > div {
	padding: $line-height * 1rem;

	text-align: center;

	@include media('>=6col') {
		@include table-layout-item;

		padding-top: $line-height * 1rem;

		text-align: left;
	}
}


[role='contentinfo'] a {
	@include image-replacement;

	display: block;

	width: 100%;
	height: 2em;

	margin-top: $line-height * 0.5em;

	background-position: center center;

	@include media('>7col') {
		background-position: left;
	}
}


.contentinfo__achievement,
.contentinfo__developed {
	@include media('>7col') {
		width: 30%;
	}
}

.contentinfo__developed a {
	min-height: 41px;

	background-image: image('logo-appcivico-small.png');

	@include media('>7col') {
		background-image: image('logo-appcivico.png');
	}
}

.contentinfo__achievement a {
	min-height: 54px;

	background-image: image('logo-fgv-direito-small.png');

	@include media('>7col') {
		background-image: image('logo-fgv-direito.png');
	}
}


.contentinfo__sagui a {
	min-height: 90px;

	background-image: image('logo-footer-150w.png');
	background-position: center center;

	@include media('>7col') {
		background-image: image('logo-footer-215w.png');
		background-position: right;
	}
	@include media('>4col') {
		background-image: image('logo-footer-190w.png');
	}
}
