// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
.site-header {
	position: relative;
}

[role='banner'] {
	position: absolute;
	left: 50%;

	z-index: layer('default');

	width: span(1.5);

	margin-top: $line-height * 2em;
	margin-left: span(1.5)/-2;

	@include media ('>=3col') {
		width: span(2.8);

		margin-left: span(2.8)/-2;
	}
	@include media ('>=6col') {
		width: span(4);

		margin-left: span(4)/-2;
	}
}

[role='banner'] > a {
	@include image-replacement;

	display: block;

	height: span(1);

	margin-right: auto;
	margin-left: auto;

	background-image: image('logo-200w.png');
	background-position: center;

	@include media ('>=3col') {
		background-image: image('logo-250w.png');
	}
	@include media ('>=6col') {
		background-image: image('logo-350w.png');
	}
}
