// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
[role='banner'] {
	position: absolute;
	left: 50%;
	width: span(5);
	margin-top: $line-height * 2em;
	margin-left: span(5)/-2;
}


[role='banner'] > a {
	@include image-replacement;

	display: block;

	height: span(1);

	margin-right: auto;
	margin-left: auto;

	background-image: image('logo-small.png');
	background-position: center;

	@include media('>=4col') {
		background-image: image('logo-medium.png');
	}

	@include media('>=7col') {
		background-image: image('logo.png');
	}
}
