/**
 * The main content of a document.
 *
 * This marks the content that is directly related to or expands upon the central topic of the document. The main role is a non-obtrusive alternative for "skip to main content" links, where the navigation option to go to the main content (or other landmarks) is provided by the user agent through a dialog or by assistive technologies.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `main` role.
 *
 * The `[role='main']` element can be a `main` or an `article`
 */

.main-container {
	position: relative;

	width: 100%;
	max-width: $max-width;

	margin-right: auto;
	margin-left: auto;

	@include media('<9col') {
		margin-right: 0;
		margin-left: 0;

		box-shadow: 0 0 20px palette('shadow');

		transition-duration: 0.5s;
		transition-property: margin-left margin-right;

		.menu-controller:checked + & {
			margin-left: $off-canvas-menu-width;

			transition: margin-left 0.5s;
		}

		.menu-controller:checked + & > * {
			margin-right: $off-canvas-menu-width * -1;

			transition: margin-right 0.5s;
		}
	}
}

[role='main'] {
}
