/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
	text-transform: lowercase;
}

menu ul,
menu ol,
nav ul,
nav ol {
	width: 100%;
	max-width: $max-width;

	padding: 0;
	margin: 0 auto;

	list-style: none;
}

menu li,
nav li {
	padding: 0;
	margin: 0;

	&::before {
		content: none;
	}
}

menu a,
nav a {
	@include link-undercover;

	display: block;

	padding: gutter() / 1em * 1rem;

	@include on-event {
		color: palette('yellow', 'base');
	}
}



.current > a {
	pointer-events: none;
}



.main-menu {
	z-index: layer('default');

	@include media('<9col') {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;

		width: 0;

		margin: 0;

		overflow: hidden;

		white-space: nowrap;

		background-color: palette('yellow', 'base');

		transition: width 0.5s;

		.menu-controller:checked + * & {
			width: $off-canvas-menu-width;

			overflow-y: auto;

			box-shadow: inset -7px 1px 50px palette('shadow');

			transition: width 0.5s;

			@include media('<9col') {
				color: palette('black');
			}
		}
	}
	@include media('>=9col') {
		position: relative;

		float: right;

		max-width: span(10);

		padding: gutter() gutter() / 2;
		margin-top: $line-height * 3rem;
		margin-right: $line-height * 1rem;
		margin-left: auto;

		color: palette('off-white');
	}
}




.main-menu > ul > li {
	float: left;

	@include media('<9col') {
		float: none;

		display: block;

		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}


.main-menu ul {
	@include table-layout-wrapper;
}


.main-menu li {
	@include table-layout-item;
}


.main-menu a {
	padding-top: gutter() / 2;
	padding-bottom: gutter() / 2;
}

.main-menu a:hover {
	@include media('<9col') {
		color: palette('off-white');
	}
}

/* menu controller
---------------------------------------------------------------------------- */

[for='menu-controller'] {
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	width: (span(2) / 1em * 1rem);

	padding: (gutter() / 2) gutter();

	font-size: 1em;

	color: palette('yellow', 'base');

	@include media('<=9col') {
		display: block;
		z-index: layer('dropdown');
	}

	&::before {
		font-weight: bold;
		font-size: 2em;
		line-height: 0.75;
		font-family: sans-serif;

		vertical-align: middle;

		content: '\20\2261\20';

		.menu-controller:checked ~ * & {
			content: '\20\d7\20';
		}
	}
}




/* footer menu
---------------------------------------------------------------------------- */


.footer-menu {
	margin-top: $line-height * 1rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	color: palette('gray', 'dark');

	@include media('>=6col') {
		max-width: span(10);

		padding: gutter() gutter() / 2;
	}
}

.footer-menu ul {
	@include table-layout-wrapper;

	white-space: nowrap;

	@include media('>=6col') {
		width: auto;

		margin-right: 0;
		margin-left: auto;
	}
}


.footer-menu li {

	@include media('>4col') {
		@include table-layout-item;
	}
}

.footer-menu a {
	// @include link-undercover;
	@include media ('<9col') {
		padding-top: gutter() / 2;
		padding-bottom: gutter() / 2;
	}
	@include on-event {
		color: palette('yellow', 'base');
	}
}



/* access
---------------------------------------------------------------------------- */
.skip-links {
	@include table-layout-wrapper;

	max-width: $max-width;
}

.skip-links ul {
	display: table-row;
}

.skip-links li {
	@include table-layout-item;
}

.skip-links a {
	@include visually-hidden--focusable;
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}
