/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
}

menu ul,
menu ol,
nav ul,
nav ol {
	width: 100%;
	max-width: $max-width;

	padding: 0;
	margin: 0;

	list-style: none;
}

menu li,
nav li {
	padding: 0;
	margin: 0;

	&::before {
		content: none;
	}
}

menu a,
nav a {
	display: block;

	&:link {
		text-decoration: none;
	}
}

.current > a {
	pointer-events: none;
}


.main-menu {
	@include media('<desktop') {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;

		width: 0;

		margin: 0;

		overflow: hidden;

		white-space: nowrap;

		transition: width 0.5s;

		.menu-controller:checked + * & {
			width: $off-canvas-menu-width;

			overflow-y: auto;

			box-shadow: inset -7px 1px 20px palette('shadow');

			transition: width 0.5s;
		}
	}
	@include media ('>=desktop') {
		position: relative;
		top: $line-height * 1em;

		z-index: layer('default');

		margin-left: 50%;
	}
}





.footer-menu {
	width: 100%;
	margin-top: $line-height * 1rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-transform: lowercase;

	@include media('>=6col') {
		max-width: span(10);
		padding: gutter() gutter() / 2;
		}
}

.footer-menu ul {
	@include table-layout-wrapper;


	@include media('>=6col') {

		width: 40%;
		margin-right: 0;
		margin-left: auto;

		text-align: right;

	}
}


.footer-menu li {
	@include table-layout-item;
}

.footer-menu a {
	@include link-undercover;

	@include media ('<desktop') {
		padding-top: gutter() / 2;
		padding-bottom: gutter() / 2;
	}
}



/* access
---------------------------------------------------------------------------- */
.skip-links {
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}
