	<footer class="site-footer">
		<div role="contentinfo">

			{{ with .Site.Params.achievement }}
				<div class="contentinfo__achievement">
					<h6>{{ i18n "achievement" | title }}
						<a href="http://direitosp.fgv.br" target="_blank">FGV DIREITO SP</a>
					</h6>
				</div>

			{{ end }}


			{{ with .Site.Params.developed }}
				<div class="contentinfo__developed">
					<h6>{{ i18n "developed" | title }}
						<a href="https://appcivico.com" target="_blank">AppCívico</a>
					</h6>
				</div>

			{{ end }}

				<div class="contentinfo__sagui">
					<a href="{{ .Site.BaseURL }}" target="_blank">S.A.G.U.I</a>
				</div>

		</div>


		<nav class="footer-menu">
			{{ partialCached "menu.html" . }}
		</nav>

	</footer>
	{{ partialCached "browserUpdate.html" . }}
</div><!-- .main-container -->

</body>
</html>
