{{ partial "header.html" . }}

	<main role="main" id="conteudo">
		<article class="greeting" id="inicio">

			<div class="content-container">
				<h1>{{ .Title }}</h1>
				<h5>{{ .Content | plainify }}</h5>
			</div>

		</article>

		{{ range where .Site.Pages ".File.TranslationBaseName" "projeto" }}

			<article class="project" id="projeto">

				<div class="content-container">
					<h2>{{ .Title }}</h2>
						{{ .Content }}
					<div class="google__button">
						<a href="https://play.google.com/store/apps/details?id=com.eokoe.saguim" target="_blank">Disponível no Google Play</a>
					</div>

				</div>
			</article>

		{{ end }}

		{{ range where .Site.Pages ".File.TranslationBaseName" "video" }}

			<article class="solution">
				<video autoplay loop width="960" height="540">
					<source src="/dist/video/video-sagui.mp4" type="video/mp4">
				</video>

				<div class="content-container">
					<h2>{{ .Title }}</h2>
					{{ .Content }}
					</div>
			</article>

		{{ end }}

		{{ range where .Site.Pages ".File.TranslationBaseName" "sobre" }}

			<article class="about" id="sobre">

				<div class="content-container">
				<h2>{{ .Title }}</h2>
				{{ .Content }}
				</div>

			</article>

		{{ end }}

		{{ range where .Site.Pages ".File.TranslationBaseName" "contato" }}

			<article class="contact" id="contato">

				<div class="content-container">
				<h2>{{ .Title }}</h2>
				{{ .Content }}
				</div>

			</article>

		{{ end }}

	</main>

{{ partial "footer.html" . }}
