////
/// This file contains all application-wide Sass configuration variables
/// @group configurations
/// @todo Customize to match your design needs.
////

/// Title font stack
///
/// @access public
/// @type list
/// @todo Customize it to match your design needs or use one of the already available [font stacks](#font-stacks). Or do both.
///
/// @example scss
/// $title-font-stack: ComicSans, $basic-title-font-stack;
$title-font-stack: Raleway, $basic-title-font-stack !default;


/// Text body font stack
///
/// @access public
/// @type list
/// @todo Customize it to match your design needs or use one of the already available [font stacks](#font-stacks). Or do both.
///
/// @example scss
/// $text-font-stack: ComicSans, $native-font-stack;
$text-font-stack: Raleway, $basic-title-font-stack !default;


/// Code (monospace) font stack
///
/// @access public
/// @type list
/// @todo Customize it to match your design needs or use one of the already available [font stacks](#font-stacks). Or do both.
///
/// @example scss
/// $code-font-stack: ComicSans, $basic-code-font-stack;
$code-font-stack: Raleway, $basic-title-font-stack !default;


/// Body text font-size
///
/// @access public
/// @type number
$body-font-size: 1.125em !default;

/// Default Leading
///
/// @access public
/// @type number
$line-height: 1.5 !default;

/// flexible line heights map
/// @access private
/// @type Map
/// @prop {number} min - minimum line height expressed unitless
/// @prop {number} max - maximum line height expressed unitless
$line-heights: (
	'min': 1.15,
	'max': 1.5,
) !default;


/// flexible line length map
///
/// @type Map
/// @prop {number} min - minimum line length expressed in `em`
/// @prop {number} max - maximum line length expressed in `em`
$line-lengths: (
	'min': 21em,
	'max': 35em,
) !default;


/// @link http://www.modularscale.com/?1.125&em&1.125
$modularscale: (
	base: 1.125em,
	ratio: 1.125
);


/// List all available colors and tones.
///
/// @access private
/// @prop {string} color - Pure colors or a map of tones
/// @prop {color | map} color.tone - Pure colors or returned color value of functions
/// @require {function} palette
/// @todo Customize the colors or add new ones to match your design needs.
$palette: (
	'gray': (
		'x-light': rgb(243, 243, 243),
		'light': rgb(196, 196, 196),
		'base': rgb(139, 139, 149),
		'dark': rgb(153, 153, 153),
	),
	'yellow': (
		'base': rgb(255, 197, 40),
		'dark': rgb(255, 189, 36),
		),
	'brown': (
		'base': rgb(94, 70, 62),
		'dark': rgb(63, 47, 39),
		),
	'white': rgb(255, 255, 255),
	'off-white': rgb(254, 254, 254),
	'black': rgb(0, 0, 0),
	'debug': rgb(255, 0, 0),
	'shadow': (
		'inverse': rgba(255, 255, 255, 0.25),
		'base': rgba(0, 0, 0, 0.2),
	),
	'anchor': (
		'base': rgb(255, 197, 40),
		'link': rgb(255, 197, 40),
		'visited': rgb(255, 197, 40),
		'hover': rgb(255, 197, 40),
		'focus': rgb(255, 197, 40),
		'active': rgb(255, 197, 40),
	),
	'border': (
		'base': rgb(139, 139, 149),
		'focus': rgb(139, 139, 149),
		'yellow': rgb(255, 189, 36),
		),
	'button': (
		'base': rgb(255, 189, 36),
		'focus': rgb(229, 241, 251),
		'slider': hsl(0, 0%, 40%),
		'submit': rgb(255, 189, 36),
		'reset': transparent,
	),
	'disabled': (
		'foreground': hsl(0, 0%, 42%),
		'background': hsl(0, 0%, 94%),
	),
	'loading': (
		'foreground': hsl(0, 0%, 94%),
		'background': hsla(0, 0%, 7%, 0.8),
	),
	'label': (
		'default': rgb(119, 119, 119),
		'primary': rgb(51, 122, 183),
		'success': rgb(66, 133, 66),
		'info': rgb(60, 127, 145),
		'warning': rgb(240, 173, 78),
		'danger': rgb(217, 83, 79),
	),
	'mark': (
		'foreground': rgb(51, 51, 51),
		'background': rgb(215, 255, 90),
	),
	'quotes': hsl(0, 0%, 34%),
	'placeholder': hsl(0, 0%, 34%),
	'selection': rgb(20, 105, 140),
	'tap-highlight': rgb(255, 94, 153),
	'target-highlight': rgb(255, 255, 102),
	'text': (
		'dark': hsl(0, 0%, 13%),
		'light': rgb(229, 231, 234),
	),
);


/// Default border-radius
/// @todo Customize it to match your design.
/// @type number
$border-radius: 0 !default;


@function im-to-em($breakpoints, $base-value: 16px) {
	$new-breakpoints: ();

	@each $name, $value in $breakpoints {
		$em-value: ($value / $base-value) * 1em;
		$new-breakpoints: map-merge($new-breakpoints, ($name: $em-value));
	}

	@return $new-breakpoints;
}

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: im-to-em(
	(
		'phone': 320px,
		'tablet': 768px,
		'desktop': 1024px
	)
) !default;

$susy: (
	'columns': susy-repeat(12, (134 / 16 * 1em)),
	'gutters': (24 / 16 * 1em),
	'spread': 'narrow',
	'container-spread': 'wider',
);

// 320
// 480
// 760
// 960
// 1200
// 1600.

/// Container's maximum width
/// @type number
$max-width: span(12 'wider') !default;


/// border default width
/// @type number
$stroke: 2px !default;


/// Off-canvas menu width
/// @type number
$off-canvas-menu-width: span(2 'wide');


$col-breakpoints: (
	'1col': span(1 'wider'),
	'2col': span(2 'wider'),
	'3col': span(3 'wider'),
	'4col': span(4 'wider'),
	'5col': span(5 'wider'),
	'6col': span(6 'wider'),
	'7col': span(7 'wider'),
	'8col': span(8 'wider'),
	'9col': span(9 'wider'),
	'10col': span(10 'wider'),
	'11col': span(11 'wider'),
	'12col': span(12 'wider')
);

$breakpoints: map-merge($breakpoints, $col-breakpoints);



/// Z-indexes map, gathering all Z layers of the application. Avoid to edit it.
/// @access public
/// @type Map
$layers: (
	'modal': 5000,
	'dropdown': 4000,
	'default': 1,
	'below': -1,
);




/// Relative or absolute URL where all assets are served from.
/// @todo Customize it to match your setup.
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/dist/' !default;
